.askQues{
    margin: 50px 600px 100px 100px;
    font-family: Georgia, 'Times New Roman', Times, serif;
//     font-weight: 800;
}

.imgQues img{
    float: right;
    width: 500px;
    height: 450px;
    margin-right: 100px;
    margin-top: 50px;
}

.titleQues{
    font-weight: 800;
}

.custom-class {
    min-height: 300px;
  }    
  